<h1>Latest News</h1>
<div class="categories">
  <button (click)="getNewsByCategories('all')">Home</button>
  <button (click)="getNewsByCategories('sports')">Sport</button>
  <button (click)="getNewsByCategories('technology')">Technologies</button>
  <button (click)="getNewsByCategories('health')">Medicine and health</button>
  <button (click)="getNewsByCategories('business')">Business</button>
</div>
<div class="search-container">
  <input type="text" [(ngModel)]="search">
  <button (click)="searchNews(search)">Search</button>
  <ul id="suggestions" class="suggestions">
    <li *ngFor="let key of keys | searchKeys:search" (click)="search = key[0].toUpperCase()+key.slice(1)">{{key | titlecase}}</li>
  </ul>
</div>
<div class="news-container">
  <div class="news-item" *ngFor="let new of data">
    <img [src]="new.image" *ngIf="new.image !== 'None'">
    <h3>{{new.title}}</h3>
    <p>{{new.description}}</p>
    <p>{{new.published}}</p>
    <a [href]="new.url" target="_blank">Read more</a>
  </div>
</div>